html{
    font-size: 100%; //it is more accessible, lets user control to zoom level in the browser
    box-sizing: border-box;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    line-height: 1.3;
    font-family: $overpass-3-6;
    font-weight: map-get($font-weights , thin);
}

h1,h2{
    font-family : $ubuntu-4-5-7;
    font-weight: map-get($font-weights , bold);
}

li{
    list-style: none;
}